.singing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("/public/background.png") no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
}

.score-display {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.5em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gif {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.lyrics-container {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.word {
  font-size: 1.5em;
  margin: 0 5px; /* Add spacing between words */
  transition: color 0.5s;
}

.word.highlight {
  color: blue; /* Change this to the color you want for the highlighted words */
}

.audio-player {
  display: none; /* Hide the default audio player */
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.listen-again-button,
.pause-button,
.restart-button,
.quit-button {
  background-color: #007bff;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.listen-again-button:hover,
.pause-button:hover,
.restart-button:hover,
.quit-button:hover {
  background-color: #0056b3;
}
